<!DOCTYPE html>
<html>
	<head>
		<title>Demo spring-mvc</title>
	</head>
	<body>
		<h1>Demo spring-mvc</h1>
		<p>Modulo clientes</p>
		<a href="/clientes/lista">
			<button class="btn"><i class="fa fa-male"></i> Lista de Clientes</button>
		</a>
		<br></br>
		<a href="/clientes/nuevo">
			<button class="btn"><i class="fa fa-male"></i> Nuevo Cliente</button>
		</a>
		<br></br>
		<a href="/clientes/buscar/nombre">
			<button class="btn"><i class="fa fa-male"></i> Buscar Cliente por nombre</button>
		</a>
		<br></br>
		<a href="/clientes/buscar/apellido">
			<button class="btn"><i class="fa fa-male"></i> Buscar Cliente por apellido</button>
		</a>
		<br></br>
		<input type="button" value="Pagina anterior" onClick="history.go(-1);">	
	</body>
</html>