<!DOCTYPE html>

<html>
	<head>
		<title>Demo spring-mvc</title>
	</head>
	<br>
		<h1>Demo spring-mvc</h1>
		<p>Modulo personas</p>
		<h5>Buscar persona por nombre:</h5>
		<form action="/personas/buscar/nombre" method="post">
    		<label for="nombre">Nombre:</label>
    		<input type="text" id="nombre" name="nombre">
    		<button type="submit">Buscar</button>
		</form>
		<br></br>
		<span style="text-align:center;" th:text="${id}"></span>
		<span style="text-align:center;" th:text="${nombre}"></span>
		<span style="text-align:center;" th:text="${apellido}"></span>
		<br></br>
		<input type="button" value="Pagina anterior" onClick="history.go(-1);">	
	</body>
</html>